<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="kiosk.js"></script>
        <script src="kiosk.ts"></script>
        <link rel="stylesheet" href="kiosk.css">
    </head>
    <body ng-app="authApp">
        <!-- AQS Authentication -->
        <h1>Animal Quarantine<br>Airport Station<br>Kiosk</h1>
        <div ng-controller="authController">
            <form name="authForm">
                <label>Username or email address</label>
                <input type="text" ng-model="username" required/>
                <div ng-messages="signinForm.required.$error" style="color:brown" role="alert">     <!-- Required field error message -->
                    <div ng-message="required">This field is required.</div>
                </div>
                <hr>
                
                <label>Password</label>
                <input type="text" ng-model="pass" required/>
                <div ng-messages="signinForm.required.$error" style="color:brown" role="alert">     <!-- Required field error message -->
                    <div ng-message="required">This field is required.</div>
                </div>
                <hr>
                
                <button ng-click="clicked()">Sign in</button>
            </form>
        </div>
    </body>
</html>
