<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

  <add key="WebServiceProvider" value="InforPS" />
  <add key="WebServiceBaseURI" value="http://10.249.39.158/IPSWebServices-AQ" />
  <add key="IPSUsername" value="hansen8" />
  <add key="IPSPassword" value="hansen8" />
</appSettings>