USE [master]
GO
/****** Object:  Database [CIMP]    Script Date: 3/7/2020 11:38:58 PM ******/
CREATE DATABASE [CIMP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CIMP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CIMP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CIMP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CIMP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CIMP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CIMP]
GO
/****** Object:  Table [dbo].[AlertTbl]    Script Date: 3/7/2020 11:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertTbl](
	[AlertID] [int] IDENTITY(1,1) NOT NULL,
	[BackDisplayID] [int] NOT NULL,
	[Message] [varchar](3000) NOT NULL,
	[TimeCreated] [time](7) NOT NULL,
	[TimeCompleted] [time](7) NOT NULL,
 CONSTRAINT [PK_AlertTbl] PRIMARY KEY CLUSTERED 
(
	[AlertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BackDisplayTbl]    Script Date: 3/7/2020 11:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BackDisplayTbl](
	[BackDisplayID] [int] IDENTITY(1,1) NOT NULL,
	[PetID] [int] NOT NULL,
	[Is_Arrived] [bit] NOT NULL,
	[Is_Inspected] [bit] NOT NULL,
	[Is_Release] [bit] NOT NULL,
	[ColourID] [int] NOT NULL,
 CONSTRAINT [PK_BackDisplayTbl] PRIMARY KEY CLUSTERED 
(
	[BackDisplayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckInTbl]    Script Date: 3/7/2020 11:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckInTbl](
	[CheckInID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[DateCreated] [timestamp] NOT NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_CheckInTbl] PRIMARY KEY CLUSTERED 
(
	[CheckInID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColourMasterTbl]    Script Date: 3/7/2020 11:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColourMasterTbl](
	[ColourID] [int] IDENTITY(1,1) NOT NULL,
	[Colour] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ColourMasterTbl] PRIMARY KEY CLUSTERED 
(
	[ColourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterAlertCustomMessageTbl]    Script Date: 3/7/2020 11:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterAlertCustomMessageTbl](
	[AlertCustomMessageID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [varchar](3000) NOT NULL,
 CONSTRAINT [PK_MasterAlertCustomMessageTbl] PRIMARY KEY CLUSTERED 
(
	[AlertCustomMessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterPetTypeTbl]    Script Date: 3/7/2020 11:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterPetTypeTbl](
	[PetTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PetType] [varchar](10) NOT NULL,
 CONSTRAINT [PK_MasterPetTypeTbl] PRIMARY KEY CLUSTERED 
(
	[PetTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterStatusTbl]    Script Date: 3/7/2020 11:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterStatusTbl](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](10) NOT NULL,
 CONSTRAINT [PK_MasterStatusTbl] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetTbl]    Script Date: 3/7/2020 11:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetTbl](
	[PetID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PetName] [varchar](50) NULL,
	[Microchip] [varchar](10) NOT NULL,
	[PetTypeID] [int] NOT NULL,
 CONSTRAINT [PK_PetTbl] PRIMARY KEY CLUSTERED 
(
	[PetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTbl]    Script Date: 3/7/2020 11:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTbl](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserTbl] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BackDisplayTbl] ADD  CONSTRAINT [DF_BackDisplayTbl_Is_Arrived]  DEFAULT ((0)) FOR [Is_Arrived]
GO
ALTER TABLE [dbo].[BackDisplayTbl] ADD  CONSTRAINT [DF_BackDisplayTbl_Is_Inspected]  DEFAULT ((0)) FOR [Is_Inspected]
GO
ALTER TABLE [dbo].[AlertTbl]  WITH CHECK ADD  CONSTRAINT [FK_BackDisplayTbl_AlertTbl] FOREIGN KEY([BackDisplayID])
REFERENCES [dbo].[BackDisplayTbl] ([BackDisplayID])
GO
ALTER TABLE [dbo].[AlertTbl] CHECK CONSTRAINT [FK_BackDisplayTbl_AlertTbl]
GO
ALTER TABLE [dbo].[BackDisplayTbl]  WITH CHECK ADD  CONSTRAINT [FK_ColourMasterTbl_BackDisplayTbl] FOREIGN KEY([ColourID])
REFERENCES [dbo].[ColourMasterTbl] ([ColourID])
GO
ALTER TABLE [dbo].[BackDisplayTbl] CHECK CONSTRAINT [FK_ColourMasterTbl_BackDisplayTbl]
GO
ALTER TABLE [dbo].[BackDisplayTbl]  WITH CHECK ADD  CONSTRAINT [FK_PetTbl_BackDisplayTbl] FOREIGN KEY([PetID])
REFERENCES [dbo].[PetTbl] ([PetID])
GO
ALTER TABLE [dbo].[BackDisplayTbl] CHECK CONSTRAINT [FK_PetTbl_BackDisplayTbl]
GO
ALTER TABLE [dbo].[CheckInTbl]  WITH CHECK ADD  CONSTRAINT [FK_MasterStatusTbl_CheckInTbl] FOREIGN KEY([StatusID])
REFERENCES [dbo].[MasterStatusTbl] ([StatusID])
GO
ALTER TABLE [dbo].[CheckInTbl] CHECK CONSTRAINT [FK_MasterStatusTbl_CheckInTbl]
GO
ALTER TABLE [dbo].[CheckInTbl]  WITH CHECK ADD  CONSTRAINT [FK_UserTbl_CheckInTbl] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserTbl] ([UserID])
GO
ALTER TABLE [dbo].[CheckInTbl] CHECK CONSTRAINT [FK_UserTbl_CheckInTbl]
GO
ALTER TABLE [dbo].[PetTbl]  WITH CHECK ADD  CONSTRAINT [FK_MasterPetTypeTbl_PetTbl] FOREIGN KEY([PetTypeID])
REFERENCES [dbo].[MasterPetTypeTbl] ([PetTypeID])
GO
ALTER TABLE [dbo].[PetTbl] CHECK CONSTRAINT [FK_MasterPetTypeTbl_PetTbl]
GO
ALTER TABLE [dbo].[PetTbl]  WITH CHECK ADD  CONSTRAINT [FK_UserTbl_PetTbl] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserTbl] ([UserID])
GO
ALTER TABLE [dbo].[PetTbl] CHECK CONSTRAINT [FK_UserTbl_PetTbl]
GO
USE [master]
GO
